@model UploadFile.Models.SingleFileModel
@{
    ViewData["Title"] = "GradePopulatingTool";
}

<div class="container">
    <div class="tab-content">
        <br />

        <form id="profile-form" method="post" asp-controller="Home" asp-action="ProcessFile" enctype="multipart/form-data">
            <div class="form-result">
                <div style="margin-right: 1rem;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>NOW extract file</label>
                        <input asp-for="NowCsvFile" accept=".csv" class="form-control" />
                    </div>
                    <span asp-validation-for="NowCsvFile" class="text-danger" style="margin-bottom: 25px"></span>
                    <div class="form-group">
                        <label>Banner EMS file </label>
                        <input asp-for="BannerXlsxFile" accept=".xlsx,.xls" class="form-control" />
                    </div>
                    <span asp-validation-for="BannerXlsxFile" class="text-danger" style="margin-bottom: 25px"></span>

                    <button id="update-profile-button" type="submit" class="form-button button">Go</button>
                </div>

            </div>
        </form>
    </div>

</div>
