@model UploadFile.Models.SingleFileModel
@{
    ViewData["Title"] = "GradePopulatingTool";
}

<div class="container">
    <div class="tab-content">
        <br />

        <form id="profile-form" method="post" asp-controller="Home" asp-action="ProcessFile" enctype="multipart/form-data">
            <div class="form-result">
                <div style="margin-right: 1rem;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>NOW extract file</label>
                        <input asp-for="NowCsvFile" accept=".csv" class="form-control" />
                    </div>
                    <span asp-validation-for="NowCsvFile" class="text-danger" style="margin-bottom: 25px"></span>
                    <div class="form-group">
                        <label>Banner EMS file </label>
                        <input asp-for="BannerXlsxFile" accept=".xlsx,.xls" class="form-control" />
                    </div>
                    <span asp-validation-for="BannerXlsxFile" class="text-danger" style="margin-bottom: 25px"></span>

                    <button id="update-profile-button" type="submit" class="form-button button">Go</button>
                </div>

            </div>
            <div>
                <p>
                    <br />
                    Check the Excel Student Grades sheet from Student Records for any students that already have a grade for the module.
                    <br />
                 Any Excel Student Grade Sheets submitted to Student Records that are incomplete will be returned to you for checking and amendment.
                   <br /> A complete Excel Student Grades Sheet is one in which:  <br />
                    1. Only students that are NOT in your Module Classlist will have a blank in the grade column.  <br />
                    2. All other students will have a grade in the grade column   <br />
                    3. All students with a ZERO Grade will have a grade comment (either NS, NE, NK or NN)
                </p>
            </div>
        </form>
    </div>

</div>
