<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grade population Tool - Nottingham Trent University</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//www.ntu.ac.uk/favicon.ico" rel="Shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .containerNew {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="site-header-wrapper">
        <div class="container">
            <header class="site-header">
                <div class="site-header-title">
                    <a title="StudentHub home" href="https://www.ntu.ac.uk/studenthub">Grade population Tool</a>
                </div>
                <partial name="_LoginPartial" />
            </header>
        </div>
    </div>
    <div class="containerNew">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="wrapper">
        <footer class="site-footer">
            <div class="site-info">
                <div style="padding-top: 2rem; padding-bottom: 2rem;" class="cell medium-4">
                    <ul>
                        <li>
                            <a href="https://www.ntu.ac.uk"><img style="max-width: 250px; margin-bottom: 1rem" src="https://www.ntu.ac.uk/__data/assets/file/0032/1196906/ntu-logo-shield.svg" alt="Nottingham Trent University logo" width="250"></a>
                        </li>
                        <li>© Nottingham Trent University</li>
                    </ul>
                </div>
                <div style="padding-top: 2rem; padding-bottom: 2rem;">
                    <h3>NTU website policies</h3>
                    <ul>
                        <li><a href="https://www.ntu.ac.uk/policies/web-policies">About our website</a></li>
                        <li><a href="https://www.ntu.ac.uk/i/gdpr" target="_blank">GDPR / Data Protection</a></li>
                        <li><a href="https://www.ntu.ac.uk/about-us/ask-ntu-form">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
