@using System.Security.Principal

<ul class="user-wrapper">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <span>Hello @User.Identity.Name!</span>
        </li>
        <li>
            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li>
            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>